/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #e69138;
    z-index: 100;

}

header .navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1.3rem auto;
}

.navbar img{
    position: absolute;
    left: 6.2%;
    top: 23%;
    width: 3.8%;
    float: left;
}

.navbar .logo {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 4.5rem;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .menu-links a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-right: 0.2rem;
    transition: text-shadow .3s;
}

.navbar .menu-links a:hover{
    color: white;
    text-shadow: 0 0 .9px white, 0 0 .9px white, 0 0 .9px white;
}

.navbar .menu-links .active {
    color: white;
    font-weight: 700;
}

.navbar .menu-links .action_btn{
    background-color: white;
    color: #e69138;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 3.4rem;
}

.navbar .menu-links .action_btn:hover{
    color: #e69138;
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}


/* beranda section styling  */
.hero-section {
    height: 100vh;
    background: rgb(230,145,55);
    background: linear-gradient(130deg, rgba(230,145,55,1) 61%, rgba(253,209,5,1) 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    max-width: 1200px;
    margin-top: 14rem;
    margin-left: 22.2rem;
    margin-bottom: 10rem;
    color: white;
    text-align: right;
}

.hero-section .content .gambar img{
    position: absolute;
    left: 0%;
    top: 10.8%;
    float: left;
    width: 80%;
    height: 100%;
}

.hero-section .content h2 {
    font-size: 82px;
    line-height: 6rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
    /* -webkit-text-stroke: 1.5px black; */
}

.hero-section .content p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4rem;
}

.hero-section .content img {
    text-align: right;
    width: 4%;
    height: 4%;
    color: white;
    line-height: 1rem;
    margin-top: 2rem;
}



/* about section styling */
.home{
    display: flex;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'poppins', sans-serif;
    background-color: white;
}

.home .max-width .row{
    margin-right: 0;
}

.home-content{
    text-align: justify;
    max-width: 81%;
    margin-top: 39rem;
    position: absolute;
    top: 10%;
    left: 8%;
    right: 5%;
    line-height: 2.5rem;
}

.home .home-content img{
    float: left;
    width: 13%;
    height: auto;
    margin-right: 2rem;
    margin-top: 2rem;
}

.home .home-content .text{
    padding-top: 5.3rem;
    line-height: 1.9rem;
}

.home .home-content .text-1{
    margin-top: 5rem;
    font-size: 48px;
    font-weight: bold;
}
.home .home-content .text-2{
    font-size: 32px;
    position: relative;
    font-weight: 600;
}

.home .home-content .text-3{
    font-size: 24px;
    font-weight: 400;
}

.home .home-content p{
    margin-top: 3rem;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.7rem;
}

.home .home-content-btn a{
    display: inline-block;
    background: #000080;
    color: #fff;
    font-size: 18px;
    padding: 3px 15px 3px 15px;
    margin-top: 3rem;
    border-radius: 6px;
    border: 2px solid #000080;
    transition: all 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}
.home .home-content-btn a:hover{
    background: #18184d;
}

/* countdown section styling */
.services{
    background: rgb(255,84,1);
    background: linear-gradient(120deg, rgba(255,84,1,1) 70%, rgba(255,204,1,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 100vh;
    padding-bottom: 11rem;
    padding-top: 8rem;
    text-align: center;
}

.services h2{
    color: white;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.services p{
    color: white;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.countdown{
    width: 58%;
    display: flex;
    background-color: #000080;
    box-shadow: -7px 12px 25px 8px rgb(43, 43, 43);
    color: white;
    padding: 1rem 0.1rem 0rem 1.2rem;
    margin-left: 17.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.countdown .time:not(:last-child) {
    margin-right: 16px;
}

.countdown .time {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.countdown .time #days,
.countdown .time #hours,
.countdown .time #minutes,
.countdown .time #seconds{
    font-size: 110px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-top: 1.5rem;
}

.countdown .time span {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 75px;
    text-align: center;
    align-self: center;
}

.countdown .semicolon {
    font-size: 46px;
    margin-right: 16px;
    font-family: 'poppins', sans-serif; 
    font-weight: bolder;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
}

/* contact section styling */
.contact .max-width{
    max-width: 1200px;
    padding: 0 0px;
    margin: auto;
}

.contact{
    background-color: #18184d;
    height: 573px;
    color: white;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.contact .contact-content .column{
    width: calc(44.5% - 50px);
}

.contact .contact-content .left img{
    float: left;
    width: 130px;
    height: 162px;
    margin-right: 1rem;   
}

.contact .contact-content .text{
    padding-top: 3.3rem;
    line-height: 1.8rem;
}

.contact .contact-content .text-1{
    font-size: 32px;
    font-weight: 700;
}
.contact .contact-content .text-2{
    font-size: 24px;
    font-weight: 600;
}

.contact .contact-content .text-3{
    font-size: 24px;
    font-weight: 400;
}

.contact .contact-content p{
    margin-top: 4rem;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    line-height: 2rem;
}

.contact .contact-content .right{
    position: absolute;
    float: right;
    left: 50%;
    top: 310%;
}

.contact .contact-content .right .text{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.contact .contact-content .right .alamat{
    position: absolute;
    font-size: 1rem;
    margin-left: 14.5rem;
    margin-top: 1rem;
}


.contact .contact-content .right .alamat .text1{
    font-weight: 700;
}

.contact .contact-content .right .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .right .container{
    background-color: rgba(0, 0, 0, 0.100);
    padding: 0 auto;
    border-radius: 5px;
    height: 11.2rem;
}

.contact .contact-content .right iframe{
    margin: 1rem;
    border-radius: 5px;
}

.contact .contact-content .right .email{
    margin: 2px;
    width: 30px;
    height: 30px;
}

.contact .contact-content .right .ig{
    margin: 5px;
    width: 25px;
    height: 25px;
}

/* footer section styling */
footer{
    background: #161645;
    padding: 5px 19px;
    color: #fff;
}

footer .info-footer .maskot{
    margin-left: 25rem;
    width: 3.5%;
}

footer .info-footer .logo{
    width: 2.2%;
    margin-bottom: 3px;
}

footer .row .text{
    position: absolute;
    top: 389.8%;
    left: 38%;
    font-size: 1.2rem;
}

footer .row .text1{
    position: absolute;
    top: 390%;
    left: 52.9%;
}

footer .row .text2{
    position: absolute;
    top: 389.8%;
    left: 54%;
    font-size: 1.2rem;
}



/* responsive media query start */

@media (max-width: 834px){

    header {
        padding: 1px;
    }
    
    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    
    .navbar img{
        width: 8%;
    }
    
    .navbar .logo {
        margin-left: 4.7rem;
        font-size: 16px;
        padding-top: 3px;
    }
    
    #hamburger-btn{
        margin-right: 1.5rem;
    }

    #hamburger-btn, #close-menu-btn {
        display: block;
    }
    
    .navbar .menu-links {
        font-weight: 600;
        display: flex;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        padding: 70px 40px 0;
        transition: left 0.2s ease;
        color: black;
    }
    
    .navbar .menu-links .active{
        color: black;
    }
    
    .navbar .menu-links li a{
        color: black;
        transition: text-shadow .1s;
    }
    
    .navbar .menu-links li a:hover{
        color: black;
        text-shadow: 0 0 .1px black, 0 0 .1px black, 0 0 .1px black;
    }
    
    .navbar .menu-links .action_btn{
        position: absolute;
        color: white;
        background-color: #e69138;
        margin: 0 auto;
        padding: 5px 4rem 5px 4rem;
    }
    
    .navbar .menu-links .action_btn:hover{
        background-color: #e69138;
        color: white;
    }
    
    
    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    /* home */
    .hero-section .content {
        margin: 4rem 0.5rem 0 0 ;
        text-align: right;
    }
    
    .hero-section .content :is(h2, p) {
        max-width: 100%;
    }
    
    .hero-section .content h2 {
        margin-bottom: 2rem;
        font-size: 34px;
        line-height: 2.5rem;
    }
    
    .hero-section .content p {
        width: 100%;
        font-size: 11px;
        line-height: 1rem;
        padding-top: 2rem;
    }
    
    
    .hero-section .content img{
        width: 4%;
        margin-top: rem;
    }
    
    .hero-section .content .gambar img{
        width: 0%;
        margin-top: 1rem;
    }

    /* penjelasan raicab */
    .home{
        height: 50vh;
    }

    .home .home-content{
        margin-top: 43rem;
    }

    .home .home-content img{
        position: absolute;
        bottom: 86%;
        margin: 0 auto;
        width: 24%;
    }

    .home .home-content .text{
        position: absolute;
        bottom: 87%;
        line-height: 1.3rem;
        margin-left: 7rem;
        padding: 0rem;
    }

    .home .home-content .text-1{
        font-size: 24px;
    }

    .home .home-content .text-2{
        font-size: 20px;
    }

    .home .home-content .text-3{
        font-size: 14px;
    }

    .home .home-content p{
        margin: 4rem 0rem 0rem 0rem;
        line-height: 1rem;
        font-size: 12px;
    }

    .home .home-content .home-content-btn a{
        font-size: 10px;
        position: absolute;
        top: 90%;
        font-size: 10px;
        padding: 0px 8px 0px 8px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    /* countdown */
    .services{
        height: 50vh;
        padding-top: 3rem;
    }

    .services .max-width{
        margin: 1rem auto;
    }

    .services .countdown{
        width: 70%;
        margin: 0 auto;
    }

    .services h2{
        font-size: 24px;
    }

    .services .text1{
        width: 100%;
        margin: 0 auto;
        font-size: 9.3px;
    }

    .services .text2{
        width: 100%;
        margin: 0 auto;
        font-size: 9.5px;
    }

    .countdown .time{
        margin-left: 0rem;
    }

    .countdown .time #days,
    .countdown .time #hours,
    .countdown .time #minutes,
    .countdown .time #seconds{
        font-size: 32px;
        line-height: 0rem;
    }

    .countdown .semicolon{
        margin-top: 1.4rem;
        font-size: 24px;
        line-height: 0rem;
    }

    .countdown .time span{
        margin: 0 auto;
        font-weight: bold;
        font-size: 14px;
        line-height: 3.5rem;
    }

    /* kontak */
    .contact .contact-content .column{
        width: calc(95% - 0%);
    }

    .contact .max-width{
        margin-left: 1.5rem;
    }

    .contact{
        height: 81.7vh;
    }

    .contact .contact-content .left{
        padding-top: 0rem;
    }

    .contact .contact-content .left img{
        width: 16%;
        height: auto;
        margin: 0px 1rem 0rem 0rem;  
    }

    .contact .contact-content .text{
        width: 70%;
        padding-top: 1.7rem;
        line-height: 1.2rem;
    }


    .contact .contact-content .text-1{
        font-size: 20px;
        font-weight: bold;
    }
    
    .contact .contact-content .text-2{
        font-size: 16px;
        font-weight: 600;
    }
    
    .contact .contact-content .text-3{
        font-size: 12px;
        font-weight: 400;
    }
    
    .contact .contact-content p{
        margin: 1.5rem auto;
        font-size: 12px;
        line-height: 1.2rem;
    }

    .contact .contact-content .right{
        position: absolute;
        top: 280%;
        left: 5.5%;
    }

    .contact .contact-content .right .container{
        width: 94%;
        height: 30%;
    }

    .contact .contact-content .right .text{
        font-size: 16px;
    }

    .contact .contact-content .right .alamat{
        width: 55%;
        font-size: 12px;
        text-align: justify;
        margin-left: 10rem;
    }

    .contact .contact-content .right .info-sosmed{
        margin-bottom: 2rem;
    }

    .contact .contact-content .right .info-sosmed .email{
        width: 19px;
        height: 20.5px;
    }

    .contact .contact-content .right .info-sosmed .ig{
        width: 15px;
        height: 15px;
    }

    .contact .contact-content .right iframe{
        width: 130px;
        height: 90px;
    }

    /* footer */
    body{
        background-color: #161645;
    }

    footer{
        display: fixed;
        height: 5vh;
    }

    footer .info-footer{
        background-color: #161645;
    }

    footer .info-footer .maskot{
        width: 7%;
        margin-left: 2.8rem;
    }

    footer .info-footer .logo{
        width: 4%;
    }

    footer .row .text{
        top: 321%;
        left: 27%;
        font-size: 12px;
    }
    
    footer .row .text1{
        top: 321%;
        font-size: 12px;
    }
    
    footer .row .text2{
        top: 321%;
        left: 55%;
        font-size: 12px;
    }

    
    
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

}

@media (max-width: 476px) {

    .navbar .logo{
        font-size: 13px;
        margin-left: 3.8rem;
        padding-top: 0px;
    }   

    .hero-section .content h2{
        font-size: 26px;
        line-height: 34px;
    }

    .hero-section .content p{
        font-size: 10px;
        text-align: right;
    }

    /* tentang */
    .home .home-content{
        margin-top: 54rem;
    }

    .home .home-content .text{
        line-height: 1rem;
        margin-left: 5.5rem;
    }

    .home .home-content .text-1{
        font-size: 18px;
    }

    .home .home-content .text-2{
        font-size: 14px;
    }

    .home .home-content .text-3{
        font-size: 11px;
    }

    .home .home-content p{
        margin-top: 4rem;
    }

    /* countdown */
    .services .countdown{
        width: 86%;
    }

    /* kontak */
    .contact{
        height: 60vh;
    }

    .contact .contact-content .left img{
        width: 18%;
        margin: 0.2rem 1rem 0rem 0rem;  
    }

    .contact .contact-content .text{
        width: 80%;
        line-height: 1rem;
    }

    .contact .contact-content .text-1{
        font-size: 18px;
    }
    
    .contact .contact-content .text-2{
        font-size: 14px;
    }
    
    .contact .contact-content .text-3{
        font-size: 11px;
    }

    .contact .contact-content .right{
        top: 257%;
    }

    .contact .contact-content .right .text{
        margin-left: 0.3rem;
    }

    .contact .contact-content .right .alamat{
        width: 46%;
        font-size: 10px;
    }

    .contact .contact-content .right .info-sosmed{
        margin-bottom: 1.5rem;
    }

    /* footer */
    footer .info-footer .maskot{
        margin-left: 0.5rem;
    }

    footer .row .text,
    footer .row .text1,
    footer .row .text2{
        top: 288.4%;
    }

    footer .row .text{
        left: 21%;
    }
    
    footer .row .text2{
        left: 55%;
    }
}
