/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #e69138;
    z-index: 100;

}

header .navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1.3rem auto;
}

.navbar img{
    position: absolute;
    left: 6.2%;
    top: 23%;
    width: 3.8%;
    float: left;
}

.navbar .logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 4.5rem;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .menu-links a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-right: 0.2rem;
    transition: text-shadow .3s;
}

.navbar .menu-links a:hover{
    color: white;
    text-shadow: 0 0 .9px white, 0 0 .9px white, 0 0 .9px white;
}

.navbar .menu-links .active {
    color: white;
    font-weight: 700;
}

.navbar .menu-links .action_btn{
    background-color: white;
    color: #e69138;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 3.4rem;
}

.navbar .menu-links .action_btn:hover{
    color: #e69138;
}


#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

.home{
  display:flex;
  height: 100vh;
  color: black;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
  background-color: #000080;
}

.home-content{
  text-align: center;
  max-width:100%;
  margin: 10rem 0 0 10rem;
  position: relative;
  line-height: 2.5rem;
}


/* media unduh section styling */
.services{
  padding-bottom: 11rem;
  padding-top: 11rem;
  color: black;
  background: #fff;
  height: 100vh;
}

.services .max-width{
  max-width: 1200px;
  height: 0vh;
  padding: 0 0px;
  margin: auto;
}


.services .serv-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.services .title{
  text-align: center;
  margin-bottom: 3rem;
  color: #e69138;
}

.services i {
  color: #e69138;
  font-size: 3.5rem;
}

.services .title::before{
  background: black;
}

.services .title::after{
  background: white;
  content: "";
}

.services .serv-content .card{
  width: calc(33% - 20px);
  background: white;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-style:solid;
  border-color: #e69138;
  border-width: 1px;
}

.services .serv-content .card .text{
  font-weight: bold;
  color: #e69138;
  margin-top: 0.5rem;
}


.services .serv-content .card p{
  margin: 10px auto;
  line-height: 1.2rem;
}

.services .serv-content .card span{
  color: #e69138;
  font-weight: 700;
}


.services .serv-content .card{
  transition: all 0.3s ease;
}

.services .serv-content .card:hover{
  transform: scale(1.05);
}

/* contact section styling */
.contact .max-width{
  max-width: 1200px;
  padding: 0 0px;
  margin: auto;
}

.contact{
  background-color: #18184d;
  height: 573px;
  color: white;
  padding-top: 3.4rem;
  padding-bottom: 3rem;
}

.contact .contact-content .column{
  width: calc(44.5% - 50px);
}

.contact .contact-content .left img{
  float: left;
  width: 130px;
  height: 162px;
  margin-right: 1rem;   
}

.contact .contact-content .text{
  padding-top: 3.3rem;
  line-height: 1.9rem;
}

.contact .contact-content .text-1{
  font-size: 32px;
  font-weight: 700;
}

.contact .contact-content .text-2{
  font-size: 24px;
  font-weight: 600;
}

.contact .contact-content .text-3{
  font-size: 24px;
  font-weight: 400;
}

.contact .contact-content p{
  margin-top: 4rem;
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  line-height: 2rem;
}

.contact .contact-content .right{
  position: absolute;
  float: right;
  left: 50%;
  top: 108.5%;
}

.contact .contact-content .right .text{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact .contact-content .right .alamat{
  position: absolute;
  font-size: 1rem;
  margin-left: 14.5rem;
  margin-top: 1rem;
}

.contact .contact-content .right .alamat .text1{
  font-weight: 700;
}

.contact .contact-content .right .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .right .container{
  background-color: rgba(0, 0, 0, 0.100);
  padding: 0 auto;
  border-radius: 5px;
  height: 11.2rem;
}

.contact .contact-content .right iframe{
  margin: 1rem;
  border-radius: 5px;
}

.contact .contact-content .right .text-sosmed{
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}


/* footer section styling */
footer{
  background: #161645;
  padding: 5px 19px;
  color: #fff;
  position: absolute;
  top: 185%;
}

footer .info-footer .maskot{
  margin-left: 25rem;
  width: 3.5%;
}

footer .info-footer .logo{
  width: 2.2%;
  margin-bottom: 3px;
}

footer .row .text{
  position: absolute;
  top: 30%;
  left: 38%;
  font-size: 1.2rem;
}

footer .row .text1{
  position: absolute;
  top: 30%;
  left: 52.9%;
}

footer .row .text2{
  position: absolute;
  top: 30%;
  left: 54%;
  font-size: 1.2rem;
}





/* responsive media query start */

@media (max-width: 834px){
  header {
    padding: 1px;
}

header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.navbar img{
    width: 8%;
}

.navbar .logo {
    margin-left: 4.7rem;
    font-size: 16px;
    padding-top: 3px;
}

#hamburger-btn{
    margin-right: 1.5rem;
}

#hamburger-btn, #close-menu-btn {
    display: block;
}

.navbar .menu-links {
    font-weight: 600;
    display: flex;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
    color: black;
}

.navbar .menu-links .active{
    color: black;
}

.navbar .menu-links li a{
    color: black;
    transition: text-shadow .1s;
}

.navbar .menu-links li a:hover{
    color: black;
    text-shadow: 0 0 .1px black, 0 0 .1px black, 0 0 .1px black;
}

.navbar .menu-links .action_btn{
    position: absolute;
    color: white;
    background-color: #e69138;
    margin: 0 auto;
    padding: 5px 4rem 5px 4rem;
}

.navbar .menu-links .action_btn:hover{
    background-color: #e69138;
    color: white;
}


header.show-mobile-menu .navbar .menu-links {
    left: 0;
}

/* media unduh */
  .services{
      padding-top: 6rem;
      height: 85vh;
  }


  .services .serv-content .card{
      width: calc(60% - 0px);
      align-items: center;
      margin: 0px 0px 0px 5rem;
      border: none;
      padding: 20px 10px 20px 10px;
  }

  .services .title{
      font-size: 19px;
      max-width: 80%;
      margin: 0 auto;
  }

  .services .serv-content .card .box img{
      width: 30%;
  }

  .services .serv-content .card .text{
      font-size: 14px;
  }

    .services .serv-content .card p{
      display: none;
  }


  /* Kontak  */
  .contact .contact-content .column{
    width: calc(95% - 0%);
  }

  .contact .max-width{
    margin-left: 1.5rem;
  }

  .contact{
    height: 87vh;
  }

  .contact .contact-content .left img{
    width: 16%;
    height: auto;
    margin: 0px 1rem 0rem 0rem;  
  }

  .contact .contact-content .text{
    padding-top: 1.7rem;
    line-height: 1.2rem;
  }

  .contact .contact-content .text-1{
    font-size: 20px;
    font-weight: bold;
  }

  .contact .contact-content .text-2{
    font-size: 16px;
    font-weight: 600;
  }

  .contact .contact-content .text-3{
    font-size: 12px;
    font-weight: 400;
  }

  .contact .contact-content p{
    margin: 1.5rem auto;
    font-size: 12px;
    line-height: 1.2rem;
  }

  .contact .contact-content .right{
    position: absolute;
    top: 130%;
    left: 5.5%;
  }

  .contact .contact-content .right .container{
    width: 94%;
    height: 30%;
  }

  .contact .contact-content .right .text{
    font-size: 16px;
  }

  .contact .contact-content .right .alamat{
    width: 55%;
    font-size: 12px;
    text-align: justify;
    margin-left: 10rem;
  }

  .contact .contact-content .right .info-sosmed{
    margin-bottom: 2rem;
  }

  .contact .contact-content .right .info-sosmed .email{
    width: 19px;
    height: 20.5px;
  }

  .contact .contact-content .right .info-sosmed .ig{
    width: 15px;
    height: 15px;
  }

  .contact .contact-content .right iframe{
    width: 130px;
    height: 90px;
  }

/* Footer */
body{
    background-color: #161645;
}

footer{
    display: fixed;
    height: 5vh;
    top: 170%;
    background-color: #161645;
}

footer .info-footer{
    background-color: #161645;
}

footer .info-footer .maskot{
    width: 7%;
    margin-left: 1.6rem;
}

footer .info-footer .logo{
    width: 4%;
}

footer .row .text{
    top: 40%;
    left: 23%;
    font-size: 12px;
}

footer .row .text1{
    font-size: 12px;
    top: 40%;
    left: 49%;
}

footer .row .text2{
    font-size: 12px;
    top: 40%;
    left: 51%;
}

.scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
}

}

@media (max-width: 476px) {
  .navbar .logo{
    font-size: 13px;
    margin-left: 3.8rem;
    padding-top: 0px;
  }   
  
  /* media unduh */
  
  .services {
      height: 68vh;
  }
  
  .services .title{
      margin-bottom: 2rem;
  }

  /* kontak */
  .contact{
    height: 60vh;
  }

  .contact .contact-content .text{
    padding-top: 1rem;
  }

  .contact .contact-content .text-1{
    font-size: 18px;
  }

  .contact .contact-content .text-2{
    font-size: 14px;
  }

  .contact .contact-content .text-3{
    font-size: 11px;
  }

  .contact .contact-content .right{
    top: 107%;
  }

  .contact .contact-content .right .alamat{
    width: 46%;
    font-size: 10px;
  }

  /* footer */
  footer{
    top: 135%;
  }

  footer .info-footer .maskot{
    margin-left: 0.5rem;
  }

  footer .row .text,
  footer .row .text1,
  footer .row .text2{
    top: 28%;
  }

  footer .row .text{
    left: 20%;
  }
}
