@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



/* css for status terkirim */
main .recent-orders table .btnStatus{
    text-align: center;
    align-items: center;
    background-color: #1B9C85;
    color: #fff;
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
}

/* css for lihat, edit & delete */
main .recent-orders table .action{
    display: flex;
    text-align: center;
}

main .recent-orders table .action a{
    position: relative;
    left: 31%;
    letter-spacing: 5px;
    margin-top: 0.7rem;
}

main .recent-orders table .action .btnEdit{
    color: #1786bd;
}

main .recent-orders table .action .btnDelete{
    color: #EB4E06;
}


/* pop up dialog upload file */
/* Dialog Styles */
dialog {
	padding: 1rem 3rem;
	background: white;
	max-width: 400px;
	border-radius: 1.2rem;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 0.3s ease both;
    margin: 15rem auto;
}

dialog::backdrop {
    animation: fadeIn 0.3s ease both;
    background: rgba(0, 0, 0, 0.800);
    z-index: 2;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

dialog .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}

dialog .x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

dialog h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

dialog .form-container .btnUpload{
    background-color: #1786bd;
    color: #fff;
    padding: 0.60rem 0.7rem 0.60rem 0.7rem;
    border-radius: 5px;
}

dialog .form-container .btnUpload:hover{
    background-color: #007cba;
}


/* css for button upload */
dialog .form-container .form-control{
    margin: 1rem 0;
    border: 0.5px solid rgb(195, 195, 195);
    border-radius: 5px;
    font-size: 16px;
}

dialog .form-container .form-control::-webkit-file-upload-button{
    background-color: #e9ecef;
    color: #333;
    border: none;
    border-right: 1px solid #aaa;
    padding: 0.6rem;
}


/* Add styles to the form container */
main .container .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

main .container .form-container .form-label{
    font-size: 16px;
}


main .container .form-container .btnUpload{
    background-color: #1786bd;
    color: #fff;
    padding: 0.60rem 0.7rem 0.60rem 0.7rem;
    border-radius: 5px;
}

main .container .form-container .btnUpload:hover{
    background-color: #007cba;
}

.recent-orders .btnAction{
    color: #1786bd;
    background-color: transparent;
    cursor: pointer;
}

/* css for button upload */
main .container .form-container .form-control{
    margin: 1rem 0;
    border: 0.5px solid rgb(195, 195, 195);
    border-radius: 5px;
    font-size: 16px;
}

main .container .form-container .form-control::-webkit-file-upload-button{
    background-color: #e9ecef;
    color: #333;
    border: none;
    border-right: 1px solid #aaa;
    padding: 0.6rem;
}


/* css for status lihat berkas */
.recent-orders table .btnLihat{
    background-color: #1B9C85;
    color: #fff;
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    border-radius: 5px;
}

.recent-orders table .btnLihat{
    font-size: 11px;
}